<footer class="container">
    <hr class="soften">
    <p>
        {{- partial "copyright.html" . -}}
    </p>
    <p class="text-center">
        {{ with .Site.Params.goodreads }}<a href="{{ . }}">GoodReads</a> {{ end }}
        {{ with .Site.Params.twitter }}<a href="{{ . }}">Twitter</a> {{ end }}
        {{ with .Site.Params.chess }}<a href="{{ . }}">Chess.com</a> {{ end }}
        {{ with .Site.Params.github }}<a href="{{ . }}">GitHub</a> {{ end }}
        {{ with .Site.Params.gitlab }}<a href="{{ . }}">GitLab</a>{{ end }}
    </p>
</footer>

